.Gauge {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
    height: 180px;
    border: 1px;
    flex-direction: column;
    margin-left: 10%;
  
    float: left;
    position: relative;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .Signalname {
    width: 76px;
    Height: 17px;
    Top: 19px;
    Left: 19px;
    margin:0;
    
  }
  .ValueMin {    
    position: absolute;
    left: 17.22%;
    right: 81.11%;
    top: 75%;
    bottom: 28.37%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
/* identical to box height */


color: #0C0D0D;
  }
  .ValueMax {
    position: absolute;
    left: 60%;
    right: 13.06%;
    top: 75%;
    bottom: 29.43%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
/* identical to box height */
  }
  .container {
    
    padding: 2px 16px;
  }
  

  .Title {

    margin-left: 30%;
    margin-top: 5%;
  }
  .SignalUnit {
    
    position: absolute;
left: 12%;
right: 29.17%;
top: 65%;
bottom: 14.54%;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height */

text-align: center;

color: #16556F;
  }
  .Unit {
  
    left: 50%;
    margin-top: 0%;
  }
  .Gauge2 {
    
    position: relative;
    margin-top: -15%;

  }
  .gauge-container {
    width: 160px;
    height: 100px;
    display: block;
    padding: 10px;
    
    
        
  }
  .gauge-dial {
    stroke: #eee;
    stroke-width: 10;
    fill: rgba(0,0,0,0);
    
  }

  .gauge-value { 
    stroke: #2f78ff;
    stroke-width: 8;
    fill: rgba(0,0,0,0);
    
  }
  
  .gauge-value-w {
    stroke: #40ff2f;
    stroke-width: 8;
    fill: rgba(0,0,0,0);
    
  }
  .gauge-value-var {
    stroke: hsl(19, 100%, 59%);
    stroke-width: 8;
    fill: rgba(0,0,0,0);
    
  }
  .gauge-value-hz {
    stroke: #2fd5ff;
    stroke-width: 8;
    fill: rgba(12, 7, 7, 0);
    
  }
  .gauge-value-pf {
    stroke: #2fd5ff;
    stroke-width: 8;
    fill: rgba(0,0,0,0);
    
  }
  .gauge-value-text {
    fill: #3895D3;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    
  }
  .gauge-right{
    margin-left: 50px;
   padding-left: 5px;
   width: 100vw;
   gap: 20px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   /* border: 1px rgb(21, 255, 0) solid; */
  /* background-color: red; */
 
}

  .gauge {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    border: 1px;
    flex-direction: column;
    float: left;
    
    
  }

  @media only screen and  (max-device-width: 500px) and (orientation: portrait) {
    .gauge-right{
      margin-left: 180px;
      gap: 20px;
      
  }
  .gauge-container {
    width: 160px;
  }
}
@media only screen and  (max-device-height: 500px) and (orientation: landscape) {
  .gauge-right{
    margin-left: 180px;
}
}
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}